In [1]:
import pandas as pd

In [2]:
isrs = pd.read_csv("isrs_clean.csv")

In [3]:
isrs.head()

,Unnamed: 0,AGE,BEAT,BODY_CAMERA_I,CITY,CONTACT_DATE,CPD_UNIT_NO,CREATED_BY,DISTRICT,PAT_DOWN_I,RACE_CODE_CD,SEX_CODE_CD,year,month_year,Y,X
0,0,30.0,2523.0,Y,CHICAGO,1/1/2018 0:08,25,NaN,25.0,N,WWH,M,2018,1/1/2018,41.934539,-87.728850
1,2,20.0,2523.0,Y,CHICAGO,1/1/2018 0:08,25,NaN,25.0,N,WWH,M,2018,1/1/2018,41.934539,-87.728850
2,4,23.0,2523.0,Y,CHICAGO,1/1/2018 0:08,25,NaN,25.0,N,WWH,M,2018,1/1/2018,41.934539,-87.728850
3,6,23.0,2511.0,N,CHICAGO,1/1/2018 0:10,313,NaN,25.0,Y,WWH,M,2018,1/1/2018,41.932045,-87.788137
4,8,27.0,724.0,Y,CHICAGO,1/1/2018 0:30,7,NaN,7.0,Y,BLK,M,2018,1/1/2018,41.777352,-87.652049

In [6]:
isrs = isrs.groupby(["month_year", "DISTRICT", "BODY_CAMERA_I"]).count().reset_index()[["month_year", "DISTRICT", "BODY_CAMERA_I", "Unnamed: 0"]]

In [9]:
isrs.rename(columns={"Unnamed: 0": "count"}).to_csv("isrs_clean.csv")

In [2]:
crimes = pd.read_csv("crimes_16-18.csv")

In [3]:
crimes.head()

         id                     date        primary_type  district  year
0  11993202  2016-03-09T00:00:00.000  DECEPTIVE PRACTICE       4.0  2016
1  10380921  2016-01-15T14:05:00.000             ROBBERY      17.0  2016
2  10578324  2016-06-23T12:11:00.000           NARCOTICS       7.0  2016
3  11972987  2016-10-18T11:15:00.000  DECEPTIVE PRACTICE       6.0  2016
4  11970756  2016-03-03T00:01:00.000  DECEPTIVE PRACTICE       4.0  2016

In [10]:
crimes['month_year'] = crimes.apply(lambda x: x['date'][:7], axis=1)

In [7]:
crimes.dtypes

id                int64
date             object
primary_type     object
district        float64
year              int64
month_year       object
dtype: object

In [17]:
crimes.groupby(['month_year', 'district', 'year']).count().reset_index()[['month_year', 'district', 'year', 'id']].rename(columns={'id': 'count'}).to_csv("crimes_16-18.csv")